* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 100px;
}

.usercard {
  width: 100%;
  background-color: #fff;
  border: 2px solid #999;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1rem;
  overflow: hidden;
}

.header {
  background-color: #17a2b8;
  height: 125px;
  margin-bottom: 70px;
}

.main {
  padding: 20px;
}

h1,
h2,
p {
  margin: 20px 0px;
}

.usercircle {
  border-radius: 50%;
  background-color: #fff;
  height: 190px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
}

.marker,
.gear {
  height: 20px;
}
